In [1]:
from model_builder.GIS import tinyGIS
TG = tinyGIS()

import pandas as pd
import numpy as np
from typing import Dict, Union
from itertools import product
import os

tinyGIS initiated

## Illustrative examples

In [2]:
# Sample DataFrames
data1 = {
    'ID1': [1,   2,  3],
    'A_1': [0.3, 0,  0],
    'A_2': [0,   0,  0],
    'A_3': [0.5, 0,  0],
    'A_4': [0,   1,  0],
    'A_5': [0.2, 0,  1],
    'B':   ['B','B','B'],
}

data2 = {
    'ID2': [1, 2, 3  ],
    'B1':  [0, 1, 0.5],
    'B2':  [1, 0, 0.5]
}

data3 = {
    'ID3': [1, 2,   3],
    'C1':  [0, 1, 0.3],
    'C2':  [1, 0, 0.7],
    'D':   [1, 1,   1]
}

# Create DataFrames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

# Usage example:
result, report, ds= TG.intersect_df(df1, df2, df3, 
                                    df_mappings={'df1': {'id': 'ID1', 'prefix':'A' , 'data_name':'LULC'}, 
                                                 'df2': {'id': 'ID2', 'prefix':'B' , 'data_name':'S'}, 
                                                 'df3': {'id': 'ID3', 'prefix':'C' , 'data_name':'ASP'}},
                                    remove_zero_combinations = True)

print(result)
print(report)
print(ds)

The indexes of all DataFrames are exactly the same with the same order.
total number of non zero combinations:  7
     comb_0001  comb_0002  comb_0003  comb_0004  comb_0005  comb_0006  \
ID1
1          0.3        0.5        0.0       0.00       0.00       0.00
2          0.0        0.0        1.0       0.00       0.00       0.00
3          0.0        0.0        0.0       0.15       0.35       0.15

     comb_0007
ID1
1         0.20
2         0.00
3         0.35
     Combinations LULC  S ASP  comb
0  LULC_1 S2 ASP2    1  2   2     1
1  LULC_3 S2 ASP2    3  2   2     2
2  LULC_4 S1 ASP1    4  1   1     3
3  LULC_5 S1 ASP1    5  1   1     4
4  LULC_5 S1 ASP2    5  1   2     5
5  LULC_5 S2 ASP1    5  2   1     6
6  LULC_5 S2 ASP2    5  2   2     7
<xarray.Dataset>
Dimensions:       (m: 7, n: 3)
Coordinates:
  * m             (m) object 'comb_0001' 'comb_0002' ... 'comb_0006' 'comb_0007'
  * n             (n) int64 1 2 3
Data variables:
    Combinations  (m) object 'LULC_1 S2 ASP2' ... 'LULC_5 S2 ASP2'
    LULC          (m) object '1' '3' '4' '5' '5' '5' '5'
    S             (m) object '2' '2' '1' '1' '1' '2' '2'
    ASP           (m) object '2' '2' '1' '1' '2' '1' '2'
    comb          (m) object 'comb_0001' 'comb_0002' ... 'comb_0006' 'comb_0007'
    fraction      (n, m) float64 0.3 0.5 0.0 0.0 0.0 ... 0.0 0.15 0.35 0.15 0.35
    id            (n) int64 1 2 3

In [3]:
# Your DataFrame
data = {
    'ID': [10,20,30],
    'Frac_1': [0.0, 0.2, 0.0],
    'Frac_2': [0.5, 0.5, 0.0],
    'Frac_3': [0.6, 0.3, 0.0],
    'Frac_4': [0.0, 0.0, 0.0],
}

df = pd.DataFrame(data)

df_modified = TG.manipulating_fractions(df,
                                        df_mapping={'id':'ID', 'prefix': 'Frac_'},
                                        action = 'normalize',
                                        minimum_value = 0.20)

print(df)
print(df_modified)

    Frac_1  Frac_2  Frac_3  Frac_4
ID
10     0.0     0.5     0.6     0.0
20     0.2     0.5     0.3     0.0
30     0.0     0.0     0.0     0.0
    Frac_1    Frac_2    Frac_3  Frac_4
ID
10     0.0  0.454545  0.545455     0.0
20     0.2  0.500000  0.300000     0.0
30     0.0  1.000000  0.000000     0.0

In [4]:
# Your DataFrame
data = {
    'ID': [10,20,30],
    'Frac_1': [0.0, 0.2, 0.0],
    'Frac_2': [0.5, 0.5, 0.0],
    'Frac_3': [0.6, 0.3, 0.0],
    'Frac_4': [0.0, 0.0, 0.0],
}

df = pd.DataFrame(data)

df_modified = TG.report_max_frac(df,
                                 df_mapping={'prefix': 'Frac_'})

print(df)
print(df_modified)

   ID  Frac_1  Frac_2  Frac_3  Frac_4
0  10     0.0     0.5     0.6     0.0
1  20     0.2     0.5     0.3     0.0
2  30     0.0     0.0     0.0     0.0
   ID  Frac_1  Frac_2  Frac_3  Frac_4 max_column
0  10     0.0     0.5     0.6     0.0          3
1  20     0.2     0.5     0.3     0.0          2
2  30     0.0     0.0     0.0     0.0          1

In [5]:
# Your DataFrame
data = {
    'ID': [10,20,30],
    'Frac_1': [0.0, 0.2, 0.0],
    'Frac_2': [0.5, 0.5, 0.0],
    'Frac_3': [0.6, 0.3, 0.0],
    'Frac_4': [0.0, 0.0, 0.0],
}

df = pd.DataFrame(data)

df_modified = TG.manipulating_fractions(df,
                                        df_mapping={'id':'ID', 'prefix': 'Frac_'},
                                        action = 'majority')

print(df)
print(df_modified)

    Frac_1  Frac_2  Frac_3  Frac_4
ID
10     0.0     0.5     0.6     0.0
20     0.2     0.5     0.3     0.0
30     0.0     0.0     0.0     0.0
    Frac_1  Frac_2  Frac_3  Frac_4
ID
10     0.0     0.0     1.0     0.0
20     0.0     1.0     0.0     0.0
30     0.0     1.0     0.0     0.0